/*finwise 2018 gegin*/
ul, li, ol, dl {
  list-style: none; }

.h1, .h2, .h3, h1, h2, h3, * {
  margin: 0;
  padding: 0; }

a, a:link, a:visited, a:hover, a:active {
  color: #fff;
  text-decoration: none; }

.bg-white {
  background-color: #fff; }

.cc-border, .partner-wrap .col-md-2 img {
  background: #F0F0F0;
  border: 1px solid #D9D9D9; }

.font-w300, .about-wrap .count-wrap .title, .abfw-des {
  font-weight: 300; }

.corange-btn.gray-nouse, .corange-btn.gray-nouse:hover, .gettiketsbox.gray-nouse, .gettiketsbox.gray-nouse:hover {
  background: #999 !important;
  cursor: no-drop; }

.corange-btn:hover {
  background: #e6166a !important; }

.bg-showst {
  width: 100%;
  background-position: center;
  height: 680px;
  background-size: cover;
  background-attachment: fixed; }

.index-fwrap {
  background: url(../images/finwise2018/index-bg.jpg) no-repeat;
  background-position: center 10px;
  height: 1050px;
  background-size: cover; }
  .index-fwrap .index-bg {
    height: 500px; }

#topnav {
  position: fixed;
  background: #0D0D0D;
  min-height: 70px; }
  #topnav .navigation-menu > li > a {
    padding: 0 20px; }
  #topnav .logo {
    padding: 0; }

.nav-ht, .coop-wrap {
  height: 70px; }

.finwise-logowrap {
  height: 70px;
  vertical-align: middle;
  display: table-cell; }

.past-review {
  position: relative;
  color: #fff;
  font-size: 14px;
  cursor: pointer; }
  .past-review .review-old {
    position: absolute; }
    .past-review .review-old li {
      margin: 15px 0; }
      .past-review .review-old li a:hover {
        color: #FF1D92; }
  .past-review.active .review-old {
    display: block; }

.lang-switch > * {
  display: inline-block !important; }
.lang-switch a {
  padding: 0 1px !important; }

@media (min-width: 1220px) {
  #navigation {
    margin-left: 180px; } }
@media only screen and (min-width: 981px) and (max-width: 1219px) {
  #navigation {
    margin-left: 100px; } }
@media (min-width: 992px) {
  #topnav .navigation-menu > li > a {
    font-size: 14px;
    line-height: 70px;
    padding: 0 20px; }
  #topnav .logo {
    padding: 0; }

  .past-review {
    position: relative;
    color: #fff; }
    .past-review .review-old {
      display: none;
      position: absolute; }
      .past-review .review-old li {
        margin: 15px 0; }
        .past-review .review-old li a:hover {
          color: #FF1D92; }
      .past-review .review-old.active {
        background: #0D0D0D;
        width: 100%; }
    .past-review.active .review-old {
      display: block; }

  .des-get {
    max-width: 335px;
    height: 400px; }

  .en .colorful-border, .en .des-get {
    height: 460px; }

  #lang-switch a {
    font-size: 12px !important; }

  #lang-switch {
    left: inherit; } }
@media (min-width: 1400px) {
  #topnav > .container {
    width: 1400px; }

  .im-welbox.container {
    width: 1400px; }

  .tiketsex .tkbox {
    width: 620px; }
  .tiketsex .tkbox-br {
    width: 620px; } }
@media only screen and (min-width: 300px) and (max-width: 990px) {
  #topnav .navigation-menu > li > a {
    padding: 12px 20px; }
  #topnav .logo {
    padding: 0; }
    #topnav .logo .finwise-logowrap {
      height: 40px;
      vertical-align: middle;
      display: table-cell; }

  .past-review {
    padding: 20px 20px;
    height: 140px;
    display: inline-block;
    float: left;
    text-align: left; }
    .past-review .review-old li {
      list-style: circle;
      margin-left: 35px; }

  .lang-switch {
    text-align: left;
    padding: 20px 20px; }
    .lang-switch a {
      border-bottom: none !important; }

  .tikets-box .fg-line {
    padding: 0 0 20px !important; }
  .tikets-box .gettiketsbox {
    margin-left: 20px !important; } }
.gettiketsbox {
  background: #FF1D92; }
  .gettiketsbox:hover {
    background: #ec1886; }
  .gettiketsbox a:hover {
    text-decoration: none;
    color: #fff; }

.gettiketsbox {
  display: block;
  padding: 0;
  width: 90px;
  height: 35px;
  line-height: 36px;
  margin: 0 70px;
  text-align: center; }

.index-bgdd {
  padding-top: 160px; }

.clogo-img {
  width: 750px;
  margin: 80px 60px 10px 0; }

@media (max-width: 768px) {
  .clogo-img {
    /* width: 230px; */
    margin: 180px 34px 10px 0; }

  .tb-qywrap table .type-sv {
    padding-left: 10px !important;
    font-size: 13px !important;
    line-height: 28px !important; }

  .de-count {
    font-size: 13px !important; }

  .check-i {
    width: 18px !important; } }
@media only screen and (min-width: 300px) and (max-width: 415px) {
  .index-fwrap {
    height: 900px !important; }

  .index-bg {
    /* width: 1000px; */
    height: 350px !important; }

  .welcome-text {
    font-size: 12px !important; }

  .clogo-img {
    /* width: 230px; */
    margin: 130px 34px 10px 0; }

  .h2-tl {
    margin: 80px 0 80px !important; }

  .data-item .col-md-1:last-child {
    margin-bottom: 0 !important; }

  .Bg-fwwrap .contact-wrap {
    margin-top: 40px !important; }

  .mar-auto, .A-wrap {
    margin: 0px auto 0; }

  .tb-qywrap table {
    font-size: 12px !important; }
    .tb-qywrap table .type-sv {
      padding-left: 5px !important;
      font-size: 12px !important;
      line-height: 20px !important; } }
@media only screen and (min-width: 300px) and (max-width: 767px) {
  .index-bgdd.container {
    width: auto;
    padding: 0 50px; }

  .welcome-text {
    font-size: 14px; } }
.tiketsex {
  height: 260px;
  overflow: hidden; }
  .tiketsex .tkbox {
    background-image: linear-gradient(-180deg, #DF22C2 0%, #6907CD 100%);
    opacity: 0.7;
    min-height: 200px; }
  .tiketsex .tkbox-br {
    padding: 25px 18px 15px;
    min-height: 200px;
    position: relative;
    top: -200px; }
  .tiketsex .xx-title {
    font-size: 24px;
    color: #FFFFFF; }
  .tiketsex .tk-des {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.9);
    margin: 25px 0 20px; }
  .tiketsex .tk-price {
    font-size: 30px;
    color: #fff;
    line-height: 20px; }
  .tiketsex .el-tk {
    margin-right: 30px; }

.en .tiketsex .tk-des {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.9);
  margin: 25px 0 20px;
  height: 35px; }
  .en .tiketsex .tk-des.tk-spedes {
    line-height: 35px; }

@media only screen and (min-width: 300px) and (max-width: 585px) {
  .en .tiketsex .tkbox-br {
    top: -290px !important;
    max-width: 540px !important;
    margin: 0 auto  !important;
    min-height: 260px !important; }
  .en .tkbox {
    min-height: 260px !important; }
  .en .tiketsex {
    margin-bottom: 30px; }
    .en .tiketsex .tk-des {
      height: 80px !important;
      line-height: 40px !important; }
      .en .tiketsex .tk-des.tk-desleft {
        line-height: 30px !important; }
  .en .buy-tk {
    display: block; } }
@media only screen and (min-width: 300px) and (max-width: 1207px) {
  .tiketsex .tkbox-br {
    top: -230px;
    max-width: 540px;
    margin: 0 auto; } }
@media only screen and (min-width: 300px) and (max-width: 475px) {
  .buy-tk {
    display: inline-block; }

  .tiketsex .el-tk {
    margin: 0 0 15px; }

  .tiketsex .tkbox {
    min-height: 230px; }

  .tiketsex .tkbox-br {
    top: -255px; }

  .en .tb-qywrap table th {
    padding: 0 5px; } }
@media only screen and (min-width: 474px) and (max-width: 992px) {
  .index-fwrap {
    height: 1000px; } }
@media only screen and (min-width: 768px) and (max-width: 990px) {
  .index-fwrap {
    height: 1200px; } }
@media only screen and (min-width: 300px) and (max-width: 1205px) {
  .tiketsex.col-md-6 {
    width: 100%; }

  .tiketsex .tkbox {
    max-width: 540px;
    width: 100%;
    margin: 0 auto 30px; }

  .abfw-des:first-child {
    margin-top: 50px;
    letter-spacing: .8px; } }
.Bg-fwwrap {
  background-image: linear-gradient(0deg, #271445 0%, #060108 100%);
  font-size: 14px;
  color: #FFFFFF; }
  .Bg-fwwrap .contact-wrap {
    margin-top: 80px; }
    .Bg-fwwrap .contact-wrap .col-md-6 {
      padding-right: 25px;
      padding-left: 25px; }
    .Bg-fwwrap .contact-wrap .h2-tl {
      margin: 62px 0 0; }

.h2-tl {
  font-size: 36px;
  margin: 120px 0 80px;
  font-weight: 700;
  /* background-size: 50%; */ }

.about-finwise.h2-tl {
  font-size: 72px;
  margin: 120px 0 80px;
  font-weight: 700;
  background: url(../images/finwise2018/tl-line.png) repeat-x;
  /* background-size: 50%; */
  display: inline-block;
  background-position: bottom;
  padding-bottom: 28px;
  zoom: 0.5; }

.guest-item .h2-tl {
  margin: 120px 0 80px;
  font-weight: 700;
  background: url(../images/finwise2018/tl-line.png) no-repeat;
  /* background-size: 50%; */
  display: inline-block;
  background-position: bottom;
  padding: 0 28px 0px;
  text-align: center; }

.about-wrap .count-wrap {
  margin: 40px 0; }
  .about-wrap .count-wrap .number {
    font-size: 48px;
    font-weight: 700;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(0deg, #7515CF 38%, #FF33E1 85%);
    color: linear-gradient(0deg, #7515CF 38%, #FF33E1 85%); }
    .about-wrap .count-wrap .number img {
      height: 65px; }
  .about-wrap .count-wrap .title {
    margin-top: 25px;
    font-size: 16px;
    margin-left: -25px; }

.abfw-des {
  line-height: 2.2;
  letter-spacing: 1.2px;
  font-size: 16px;
  margin: 15px; }
  .abfw-des:first-child {
    margin-bottom: 50px; }

@media only screen and (min-width: 990px) and (max-width: 1190px) {
  .Bg-fwwrap .contact-wrap .h2-tl {
    margin: 42px 0 0; }

  .abfw-des {
    line-height: 1.6;
    letter-spacing: 0.5px;
    font-size: 15px;
    margin: 15px; }

  .gettiketsbox {
    margin: 0 10px !important; } }
.foot-p .plname-info {
  font-size: 18px; }

@media only screen and (min-width: 300px) and (max-width: 767px) {
  .foot-p .plname-info {
    font-size: 16px; } }
.guest-item .pl-info {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5); }

.guest-item .col-md-2 {
  text-align: center;
  margin-bottom: 20px; }
.guest-item .photo-dbbox {
  border-radius: 50%;
  max-width: 100%;
  width: 126px;
  border: 2px solid #6A4AFF;
  padding: 4px;
  margin: 0 auto; }
.guest-item img {
  border: 1px solid rgba(106, 74, 255, 0.5);
  max-width: inherit;
  width: 115px; }

.spe-cltl {
  color: #4F2F84; }

.spe-tlh3 {
  color: #999999; }

.partner-wrap .col-md-3 {
  margin-bottom: 30px; }
.partner-wrap .col-md-2 img {
  margin-bottom: 30px; }
.partner-wrap .cc-border, .partner-wrap .col-md-2 img {
  background: #fff;
  border: 1px solid #D9D9D9; }

.footer-wrap {
  margin-bottom: 0; }

#footer {
  background-color: #202020;
  padding: 40px 0 15px; }

.footer-spewrap .col-md-spe25 {
  width: 25%; }
.footer-spewrap .col-md-6 {
  padding: 0 105px; }
.footer-spewrap .fcon-wrap {
  float: left; }

.fim-tl {
  font-size: 20px;
  border-bottom: 1px solid #979797;
  padding-bottom: 18px;
  margin-bottom: 18px;
  font-weight: 400; }

.wechat-tl {
  font-weight: lighter;
  font-size: 14px; }

.contact-usinfo {
  font-size: 14px; }
  .contact-usinfo * {
    font-weight: lighter;
    line-height: 2.2; }

.contact-ussty dt {
  float: left;
  /* display: inline-block; */
  height: 80px;
  min-width: 120px; }
.contact-ussty dd {
  width: 70%;
  text-align: left;
  margin-left: 120px; }

@media only screen and (min-width: 300px) and (max-width: 991px) {
  #topnav .toggle-inner {
    background-color: #ff5599; }

  .lang-select {
    right: 60px !important; }

  .data-item .col-md-1 {
    margin-bottom: 50px; }

  .Bg-fwwrap .contact-wrap .h2-tl {
    font-size: 48px;
    margin: 120px 0 20px !important; }
  .Bg-fwwrap .contact-wrap .video-box {
    text-align: center; }
  .Bg-fwwrap .abfw-des {
    line-height: 28px;
    letter-spacing: 1px;
    font-size: 14px;
    margin: 10px 0px; }

  .footer-spewrap .col-md-spe25 {
    width: 100%; }
  .footer-spewrap .col-md-6 {
    width: 100%; }
  .footer-spewrap .fcon-wrap {
    float: left;
    margin-bottom: 30px;
    padding: 0 20px; }

  .cont-imwrap .col-md-6 {
    margin: 0 0 30px; }

  .ot-listwrap .col-md-4 {
    width: 100%; }
  .ot-listwrap .colorful-border {
    margin: 30px auto;
    max-width: 420px;
    height: 360px; }

  .en .ot-listwrap .colorful-border {
    max-height: 450px;
    height: auto; } }
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .en .colorful-border, .en .en .des-get {
    height: 530px; } }
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .footer-spewrap .col-md-spe25 {
    width: 30%; }
  .footer-spewrap .col-md-6 {
    padding: 0 105px;
    width: 70%; }
  .footer-spewrap .fcon-wrap {
    float: left; } }
.cooperation-wrap {
  background: url(../images/finwise2018/cbg.png);
  width: 100%;
  background-position: center;
  height: 680px;
  background-size: cover;
  background-attachment: fixed; }
  .cooperation-wrap .fm-wrap {
    margin-top: 150px; }

.colorful-border {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 6px;
  display: inline-block;
  background-clip: content-box, padding-box;
  margin-top: 50px;
  color: #fff;
  border: 1px solid #ad339b;
  max-width: 335px;
  height: 400px;
  display: block; }

.cc-bg {
  padding: 45px 25px; }

.des-detail {
  font-weight: lighter; }

.h3-title {
  font-size: 24px;
  margin-bottom: 40px; }

.des-get {
  font-size: 14px;
  color: #FFFFFF;
  line-height: 26px; }
  .des-get .h3-title {
    font-weight: 400; }

.color-white {
  color: #fff; }

.geth2-title {
  font-size: 18px; }

.check-i {
  width: 24px; }

.tb-qywrap {
  margin: 80px 0;
  display: inline-block;
  width: 100%; }
  .tb-qywrap table, .tb-qywrap td, .tb-qywrap th {
    background: rgba(74, 47, 163, 0.05);
    font-weight: lighter; }
  .tb-qywrap table {
    font-size: 14px;
    color: #FFFFFF;
    font-weight: lighter;
    width: 100%;
    text-align: center;
    outline: 1px solid #8C32FF; }
    .tb-qywrap table .zz-tb {
      width: 100%;
      background: #8C32FF; }
    .tb-qywrap table .wh14 {
      width: 14%;
      text-align: center;
      border-left: 1px solid rgba(255, 255, 255, 0.3); }
    .tb-qywrap table .wh30 {
      width: 30%;
      text-align: left; }
    .tb-qywrap table th, .tb-qywrap table td {
      height: 40px;
      line-height: 40px; }
    .tb-qywrap table th {
      font-weight: 400; }
    .tb-qywrap table td {
      border: 1px solid #473c54; }
    .tb-qywrap table .type-sv {
      text-align: left;
      padding-left: 20px; }

.en .tb-qywrap table .wh14 {
  line-height: 2; }

.de-count {
  font-size: 16px; }

.cont-imwrap {
  margin: 60px 0; }

.cont-cm {
  background: #6F15B8;
  border-radius: 2px;
  padding: 15px 20px;
  color: #fff;
  overflow: hidden;
  max-width: 505px;
  margin: 0 auto; }
  .cont-cm .contact-tl {
    border-bottom: 1px dashed #a44aeb;
    color: #50dfd3;
    padding-bottom: 10px;
    margin: 0 0 15px; }
  .cont-cm .ct-lists {
    font-size: 14px;
    line-height: 2; }
  .cont-cm .fl {
    float: left; }
  .cont-cm .im-contact {
    margin-right: 50px;
    font-size: 14px;
    margin-top: 3px; }
  .cont-cm p {
    margin: 0; }

/*# sourceMappingURL=scss.css.map */
